@import "tailwindcss";


@font-face {
  font-family: 'Brittany';
  src: url('/fonts/Brittany.ttf') format('truetype'); /* or 'opentype' for .otf */
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-Montserrat: "Montserrat", sans-serif;
  --font-brittany: 'Brittany', sans-serif;
  --font-Karla : "Karla", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --color-prime: #2eafff;
  --color-prime2: #58b4ff;


}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide-animation {
  animation: slide 40s ease-in-out infinite;
}







html, body {
  overflow: auto;
  /* scrollbar-width: none; Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  background-color: black;
}



.border {
  border: 2px solid red;
}

.writing-mode-vertical-lr {
  writing-mode: vertical-lr;

}

